body{
/* fallback (Opera) */
    background: #222657;
    /* Mozilla: */
    background: -moz-radial-gradient(center, circle, rgba(0,0,155,0.6), #222657 100%);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#222657), to(#000000));
    font-family: Helvetica Neueu Light, Arial;
    font-size: 12px;
    color: #000;
}
