body{
    background: #222657;
    background: -moz-radial-gradient(11px 50px , circle , rgba(0, 0, 155, 0.6), #222657 100%);
    background: -webkit-gradient(linear,left top, left bottom, from(#222657), to(#000000));
    color: #000;
    font-family: Helvetica Neueu Light, Arial;
    font-size: 12px;
}