@import url(http://fonts.googleapis.com/css?family=Devonshire);

body{
    background: #3474A4 url('/img/line-tile.png');
    color: #fff;
    font-family: Helvetica Neueu Light, Arial;
    font-size: 12px;
}

div.header{
    border-bottom: 1px solid #3458A4;
    background-color: #3465A4;
}

div.header ul.nav {
    display: inline;
    float: right;
    margin: 30px 110px;
}

div.header ul.nav li a {
    color: white;
    font-size: 23px;
}

div.header span {
    color:#ccc;
    font-style: oblique;
    font-family: Devonshire, cursive;
    font-size: 23px;
    margin-left: 100px;
}

div.header span strong{
    font-size: 70px;
}

div.content {
    height: 100%;
    margin-top: 10%;
}

div.content p{
    background: -moz-radial-gradient(center 84px , ellipse , #888788 1%, #3474A4 60%) repeat scroll 0 0 transparent;
    display: inline-block;
    font-size: 23px;
    line-height: 34px;
    margin-left: 300px;
    margin-right: 40px;
    vertical-align: middle;
    width: 400px;
}

div.content a{
    background: -moz-linear-gradient(center top , #FBC011, #FF7E00) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: inline-block;
    font-size: 34px;
    height: 36px;
    padding: 20px 10px;
    text-align: center;
    text-shadow: 1px 0 1px #C58C0B;
    vertical-align: middle;
    width: 210px;
}

div.content a:hover {
    background: -moz-linear-gradient(center top , #FFD866, #FF7E00) repeat scroll 0 0 transparent;
    cursor: pointer;
}
