@import url(http://fonts.googleapis.com/css?family=Devonshire);

body{
    background: #3474A4 url('/img/line-tile.png');
    color: #fff;
    font-family: Helvetica Neueu Light, Arial;
    font-size: 12px;
}

div.header{
    border-bottom: 1px solid #3458A4;
    background-color: #3465A4;
    position: fixed;
    top: 0;
    width: 100%;
    background: -moz-linear-gradient(#3455A4, #3465A4) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#3455A4, #3465A4) repeat scroll 0 0 transparent;
}

div.header ul.nav {
    display: inline;
    float: right;
    margin: 30px 110px;
}

div.header ul.nav li{
	display:inline-block;
	margin: 10px 0;
}

div.header h1 {
    color:#ccc;
	display:inline-block;
    font-style: oblique;
    font-family: Devonshire, cursive;
    font-size: 23px;
    margin-left: 100px;
	margin-top: 10px;
}

div.header h1 strong{
    font-size: 70px;
}

div.content {
    height: 60%;
    margin-top: 18%;
}

div.content p{
    display: inline-block;
    font-size: 23px;
    line-height: 34px;
    margin-left: 300px;
    margin-right: 40px;
    vertical-align: middle;
    width: 400px;
}

div.content a{
    background: -moz-linear-gradient(center top , #FBC011, #FF7E00) repeat scroll 0 0 transparent;
 	background: -webkit-linear-gradient(top , #FBC011, #FF7E00) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: inline-block;
    font-size: 34px;
    height: 36px;
    padding: 20px 10px;
    text-align: center;
    text-shadow: 1px 0 1px #C58C0B;
    vertical-align: middle;
    width: 210px;
}

div.content a:hover {
    background: -moz-linear-gradient(center top , #FFD866, #FF7E00) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top , #FFD866, #FF7E00) repeat scroll 0 0 transparent;
    cursor: pointer;
}
